     <!-- slide -->
     <div class="custom-container">
      <img class="img-responsive" src="/assets/images/banner-chuong-trinh-ky-su-cau-noi.png" alt="Course banner">
        <div class="banner">
          <div class="banner-bottom"></div>
            <h1>
                <b class="career">Chương trình kỹ sư cầu nối</b>
            </h1>
        </div>
    </div>
                              <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink = "/trang-chu">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">
          <a>Chương trình kỹ sư cầu nối</a>
        </li>
      </ol>
    </nav>
                              <!-- content -->
    <div class="course-content pt-4 pb-4">
      <p class="mb-4">
          Sinh viên tốt nghiệp đại học các ngành Công nghệ thông tin, Kỹ thuật máy tính, Công nghệ phần mềm, Điện tử viễn thông, Toán
          v.v.. hoặc có bằng Fundamentals of Engineering (FE) có cơ hội học tập và làm tviệc dài hạn tại Nhật Bản.
      </p>
      <p>Lộ trình:</p>
      <p>
          - 4 tháng tại Việt Nam: Học tiếng Nhật toàn thời gian đạt N4; Ôn luyện IT online; Đào tạo viết CV/phỏng vấn theo phong cách
          Nhật; Định hướng lộ trình sự nghiệp</p>
      <p class="mb-4">
          - 12 tháng tại Nhật Bản: Học tiếp tiếng Nhật đạt N2 hoặc N3; Làm thêm trong quá trình học; Tham gia các khóa đào tạo kỹ năng
          mềm; Đánh giá mức độ tiếng Nhật để nâng cao khả năng trúng tuyển công ty Nhật.</p>
      <p>
          Thông tin chi tiết vui lòng liên hệ:</p>
      <p>
          Trung tâm Ngôn ngữ và Văn hóa Nhật Bản (Japan Center)
      </p>
      <p>Email:
        <a href="emailto:japancenter@qnu.edu.vn" class="mail">japancenter@qnu.edu.vn</a>
      </p>
    </div>