<div class="row">
  <div class="col-md-4 col-lg-3">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item">
          <a class="nav-link left-item" id="JCenter-tab" (click)="uncontactedList()">{{LANGUAGE.UN_CONTACTED_LIST}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link left-item" id="JCenter-tab" (click)="contactedList()">{{LANGUAGE.CONTACTED_LIST}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-lg-9">
      <form id="myform">       
        <table id="myTable" class="table left-navigation">
          <thead>
            <tr>
              <th>{{LANGUAGE.NUMERICAL_ORDER}}</th>
              <th>{{LANGUAGE.FULL_NAME}}</th>
              <th>{{LANGUAGE.EMAIL}}</th>
              <th>{{LANGUAGE.PHONE_NUMBER}}</th>
              <th>{{LANGUAGE.CLASS_NAME}}</th>
              <th *ngIf="status==='uncontacted'">{{LANGUAGE.STATUS}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of EnrollListData; let i = index">
              <td scope="row">{{i+1}}</td>
              <td *ngIf = "item" [innerHTML] = "item.Fullname"></td>
              <td *ngIf = "item">{{item.Email}}</td>
              <td *ngIf = "item">{{item.Phone}}</td>
              <td *ngIf = "item">{{item.Class}}</td>
              <td *ngIf="status==='uncontacted'">
                <input type="checkbox" value="value1" (click)="onCheck(item)">
              </td>
            </tr>
          </tbody>
        </table>
        <input type="text" id="myInput" placeholder="{{LANGUAGE.SEARCH}}" title="Type in a name"> &nbsp;
        <span><button id="button" name="button" type="submit" class="btn btn-danger"(click)="onSubmit(item)">Đưa vào lớp</button></span> 
      </form>
  </div>
</div>
