
      <ul class="list-group">
        <li class="list-group-item ">Khóa N5.1<button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N5.2 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N4.1 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N4.2 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N3.1 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N3.2 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N2.1 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N2.2 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N1.1 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa N1.2 <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa Kỹ năng mềm <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
        <li class="list-group-item ">Khóa khác <button class="btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></li>
      </ul>



  
  
  
        
  
  
    
  