<div class="images-card-wrap section-padding">
    <div class="row">
        <div class="col-md-6 col-lg-3 card-wrap"  (click) = "OnNewsFrist(4)">
            <a class="card">
                <img class="card-img-top" [src]="[imageWhyQnu]">
                <div class="card-body">
                    <h6 class="block-title card-text" *ngIf="lang === 'vi'">{{newWhyQnuName}}</h6>
                    <h6 class="block-title card-text" *ngIf="lang === 'jp'">{{newWhyQnuJapanName}}</h6>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 card-wrap"   (click) = "OnNewsSecond(newProjectData)">
            <a class="card">
                <img class="card-img-top" [src]="[imageProject]">
                <div class="card-body">
                    <h6 class="block-title card-text" *ngIf="lang === 'vi'">{{newProjectName}}</h6>
                    <h6 class="block-title card-text" *ngIf="lang === 'jp'">{{newProjectJapanName}}</h6>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 card-wrap"   (click) = "OnNewsFrist(0)">
            <a class="card">
                <img class="card-img-top" [src]="[imageIntro]">
                <div class="card-body">
                    <h6 class="block-title card-text" *ngIf="lang === 'vi'">{{newIntroName}}</h6>
                    <h6 class="block-title card-text" *ngIf="lang === 'jp'">{{newIntroJapanName}}</h6>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3 card-wrap"  (click) = "OnNewsFour(newJobData)">
            <a class="card">
                <img class="card-img-top" [src]="[imageJob]">
                <div class="card-body">
                    <h6 class="block-title card-text" *ngIf="lang === 'vi'">{{newJobName}}</h6>
                    <h6 class="block-title card-text" *ngIf="lang === 'jp'">{{newJobJapanName}}</h6>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="recruitment">
    <div class="announce-wrapper">
        <div class="custom-container">
            <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
                <ngx-item NgxCarouselItem class="bannerStyle card" *ngFor="let item of sliderImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
                </ngx-item>
                <button NgxCarouselPrev></button>
                <button NgxCarouselNext></button>
            </ngx-carousel>
        </div>
    </div>
</div>