<!-- <div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
    <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
    </ngx-item>
    <button NgxCarouselPrev></button>
    <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
    <div class="banner-bottom"></div>
    <h1 class="banner-title"><b>{{LANGUAGE.SERVICE_AND_PARTNER}}</b></h1>
  </div>
</div> -->
<!-- create breadcrumb -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a routerLink="/dich-vu-doi-tac" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.SERVICE_AND_PARTNER}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{LANGUAGE.PROJECT}}</li>
  </ol>
</nav> -->
<!-- create menu left -->
<!-- <div class="row">
  <div class="col-md-4 col-lg-3 left-navigation">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink="/dich-vu-va-doi-tac/tu-van-du-hoc-va-viec-lam" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.APPROAD_STUDY_AND_EMPLOYMENT}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink="/dich-vu-doi-tac/xuat-khau-lao-dong" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.LABOR_EXPORT}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="JCenter-tab" routerLink="/dich-vu-doi-tac/du-an" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.PROJECT}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink="/dich-vu-doi-tac/doi-tac" [queryParams]="{lang: lang ? 'vi' : 'jp'}">{{LANGUAGE.PARTNER}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-lg-9" *ngIf="lang === 'vi'">
    <div class="tab-content">
      <div class="tab-pane active" id="study" role="tabpanel" aria-labelledby="study-tab">
        <h4 class="section-title" [innerHTML]="projectName"></h4>
        <div class="course-content pt-4">
          <p [innerHTML]="projectContent"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-9" *ngIf="lang === 'jp'">
      <div class="tab-content">
        <div class="tab-pane active" id="study" role="tabpanel" aria-labelledby="study-tab">
          <h4 class="section-title" [innerHTML]="projectJapanName"></h4>
          <div class="course-content pt-4">
            <p [innerHTML]="projectJapanContent"></p>
          </div>
        </div>
      </div>
    </div>
</div> -->