<header>
  <div class="container" id="main-menu">
    <a [routerLink]="['/trang-chu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}"><img class="logo-main" src="./assets/images/qnu-logo.svg" width="60px" height="60px" alt="Trung tâm Nhật ngữ Đại học Quy Nhơn"></a>
    <div class="name-center">
      <p class="name" >
        <a [routerLink]="['/trang-chu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.QNU_NAME}}</a>
      </p>
      <p class="sub-name">
        <a [routerLink]="['/trang-chu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.JAPAN_CENTER_NAME}}</a>
      </p>
    </div>
    <div class="container" style="position: relative;">
        <div class="main-hotline">
            <img class="icon-hotline" src="./../assets/images/phone-icon.png" width="30px" height="30px" alt="">{{LANGUAGE.HOTLINE}}: <p class="name-hotline" *ngIf="footerData">{{footerData[0].Hotline}}</p>
        </div>
      <div class="main-email">
        <img class="icon-email" src="./../assets/images/email-icon.png" width="35px" height="35px" alt="">
      </div>
      <div class="main-email">
         <img class="icon-email" src="./../assets/images/email-icon.png" width="35px" height="35px" alt="">{{LANGUAGE.EMAIL}}:<p class="name-email"><a href="https://accounts.google.com" *ngIf="footerData">{{footerData[0].Email}}</a></p>
      </div>
    </div>
    <div class="logo">
      <div class="dropdown">
        <img class="current-language flag dropbtn"  src="./../assets/images/vietnam-flag.png" width="25px" height="25px" alt="logo-language">
        <div class="dropdown-content" id="menu-language">
          <a (click)="changeLanguage(true)"><img src="./../assets/images/vietnam-flag.png" class="language-icon" alt="Tiếng Việt">{{LANGUAGE.LANG_VI}}</a>
          <a (click)="changeLanguage(false)"><img src="./../assets/images/japan-flag.png" class="language-icon" alt="Tếng Nhật">{{LANGUAGE.LANG_JAPAN}}</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#loginModal" role="button"data-toggle="modal">
          <img id="logo-lgogin" class="flag dropbtn" src="./../assets/images/login-icon.png" width="20px" height="20px">
        </a>
      </div>
      <div id="menu-logout" class="dropdown" alt="logo-login">
          <h6 id ="login"></h6>
          <div class="dropdown-content" id="menu-language">
              <app-logout></app-logout>
          </div>
      </div>
      <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <app-login></app-login>
      </div>
    </div>
    <app-banner></app-banner>

    </div>
    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" id="nav" data-toggle="sticky-onscroll">
      <div class="container">
        <a [routerLink]="['/trang-chu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}"> 
          <img  id="logo-hide" src="./assets/images/qnu-logo.svg" width="60px" height="60px" alt="logo"></a>
          <div></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a id="home-page" class="nav-link" [routerLink]="['/trang-chu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.HOME_PAGE}}<span class="caret"></span></a>
            </li>
            <li class="nav-item dropdown" >
              <a id="introduction-page" class="nav-link" [routerLink]="['/gioi-thieu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.INTRODUCTION_PAGE}}<span class="caret"></span></a>
              <div class="dropdown-content" *ngIf="isVietnamese">
                <a  *ngFor="let item of menuLeftData" class="dropdown-item" [routerLink]="[item.Slug]" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{item.Name}}</a>
              </div>
              <div class="dropdown-content" *ngIf="!isVietnamese">
                <a  *ngFor="let item of menuLeftData" class="dropdown-item" [routerLink]="[item.Slug]" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{item.Japanese_Name}}</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a id="academic-page" class="nav-link" [routerLink]="['/hoc-vu']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.ACADEMIC}}<span class="caret"></span></a>
              <div class="dropdown-content">
                <a class="dropdown-item" [routerLink]="['/hoc-vu/lich-hoc']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.SCHEDULE}}</a>
                <a class="dropdown-item" [routerLink]="['/hoc-vu/lich-thi']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.EXAM_SCHEDULE}}</a>
                <a class="dropdown-item" [routerLink]="['/hoc-vu/diem-thi']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.MARK}}</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a id="course-page" class="nav-link" [routerLink]="['/khoa-hoc']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.COURSE}}<span class="caret"></span></a>
              <div class="dropdown-content">
                <a class="dropdown-item" [routerLink]="['/khoa-hoc/cac-khoa-tieng-nhat-JLPT']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.JLPT_COURSE}}</a>
                <a class="dropdown-item" [routerLink]="['/khoa-hoc/tieng-nhat-cho-thieu-nhi']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.CHILDREN_COURSE}}</a>
                <a class="dropdown-item" [routerLink]="['/khoa-hoc/cac-khoa-ky-nang-mem']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.SKILL_COURSE}}</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a id="news-and-events" class="nav-link" [routerLink]="['/tin-tuc-su-kien']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.NEWS_AND_EVENTS}}<span class="caret"></span></a>
            </li>
            <li class="nav-item dropdown">
              <a id="services-and-partner-page" class="nav-link" [routerLink]="['/dich-vu-doi-tac']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.SERVICE_AND_PARTNER}}<span class="caret"></span></a>
              <div class="dropdown-content">
                  <li class="nav-item active" *ngIf="isVietnamese">
                    <a class="dropdown-item" *ngFor="let item of itemData1" (click)="changeService(item)">{{item.Name}}</a>
                 </li>
                 <li class="nav-item active" *ngIf="!isVietnamese">
                    <a class="dropdown-item" *ngFor="let item of itemData1" (click)="changeService(item)">{{item.Japanese_Name}}</a>
                 </li>
                  </div>
            </li>
            <li class="nav-item dropdown">
              <a id="career-oppotunity-page" class="nav-link" [routerLink]="['/co-hoi-nghe-nghiep']" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.CAREER_OPPOTUNITY}}<span class="caret"></span></a>
              <div class="dropdown-content"  >
                  <li class="nav-item active" *ngIf="isVietnamese">
                      <a class="dropdown-item" *ngFor="let item of itemData" (click)="changeCareer(item)">{{item.Name}}</a>
                  </li>
                  <li class="nav-item active" *ngIf="!isVietnamese">
                      <a class="dropdown-item" *ngFor="let item of itemData" (click)="changeCareer(item)">{{item.Japanese_Name}}</a>
                  </li>
              </div>
          </ul>
        </div>
      </div>
    </nav>
    <div cdkDrag id="bubble" class="verticle-align" routerLink='/dang-ky-hoc' [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.SIGN_UP}}</div>
</header>
