<div class="events section-padding" >
    <h3 class="text-center section-lg-title"  *ngIf="lang === 'vi'">TIN TỨC &amp; SỰ KIỆN</h3>
    <h3 class="text-center section-lg-title"  *ngIf="lang === 'jp'">ニュース＆イベント</h3>
    <div class="row">
        <div class="col-md-4 card-wrap">
            <a routerLink="/gioi-thieu" class="card">
          <img class="card-img-top" [src]="[eventImage1]" alt="Card img cap">
          <div class="card-body">
            <h5 class="card-title" *ngIf="lang === 'vi'">{{nameEvent1}}</h5> 
            <h5 class="card-title" *ngIf="lang === 'jp'">{{japannameEvent1}}</h5>           
            <p class="card-text">{{ contenEvent1 }}
              <span class="read-more" *ngIf="contenEvent1" [innerHTML]="contenEvent1 + '<strong>...Đọc tiếp</strong>'"></span>
            </p>
          </div>
        </a>
        </div>
        <div class="col-md-4 card-wrap">
            <a class="card" routerLink="/gioi-thieu" >
          <img class="card-img-top" [src]="[eventImage2]" alt="Card img cap">
          <div class="card-body">
            <h5 class="card-title" *ngIf="lang === 'vi'">{{nameEvent2}}</h5> 
            <h5 class="card-title" *ngIf="lang === 'jp'">{{japannameEvent2}}</h5>
            <p class="card-text">
              <span class="read-more" *ngIf="contenEvent2" [innerHTML]="contenEvent2 + '<strong>...Đọc tiếp</strong>'"></span>
            </p>
          </div>
        </a>
        </div>
        <div class="col-md-4 card-wrap">
            <a class="card" routerLink="/gioi-thieu"  >
           <img class="card-img-top" [src]="[eventImage3]" alt="Card img cap">
          <div class="card-body">
           <h5 class="card-title" *ngIf="lang === 'vi'">{{nameEvent3}}</h5> 
            <h5 class="card-title" *ngIf="lang === 'jp'">{{japannameEvent3}}</h5>
            <p class="card-text">
              <span class="read-more" *ngIf="contenEvent3" [innerHTML]="contenEvent3 + '<strong>...Đọc tiếp</strong>'"></span>
            </p>
          </div>
         </a>
        </div>
    </div>
    <div class="detail text-center">
        <a class="btn btn-outline" routerLink="/tin-tuc-su-kien" *ngIf="lang === 'vi'">Xem tất cả</a>
        <a class="btn btn-outline" routerLink="/tin-tuc-su-kien" *ngIf="lang === 'jp'">すべて見る</a>
    </div>
</div>
<!-- <div class="events section-padding" *ngIf="lang === 'jp'">
    <h3 class="text-center section-lg-title">リンク - イベント</h3>
    <div class="row">
        <div class="col-md-4 card-wrap" >
            <a routerLink="/tin-tuc-su-kien/QNU-JAPAN-CENTER-Dang-ky-hoc-vien" class="card">
          <img class="card-img-top" src="./assets/images/event1.jpg" alt="Card img cap">
          <div class="card-body">
            <h5 class="card-title">
              {{item.Japanese_Title}}
            </h5>
            <p class="card-text">{{item.Japanese_content}}
              <span class="read-more">{{item.Japanses_Add}}</span>
            </p>
          </div>
        </a>
        </div>
    </div>
    <div class="detail text-center">
        <a class="btn btn-outline" routerLink="/tin-tuc-su-kien">すべて見る</a>
    </div>
</div -->
