<div class="events section-padding">
  <h3 class="text-center section-lg-title">{{LANGUAGE.NEWS_AND_EVENTS_UPPER_CASE}}</h3>
  <div class="row">
    <div class="col-md-4 card-wrap"> 
      <a class="card" [routerLink]="[linkQnuJapan]">
        <img class="card-img-top" [src]="[imageQnuJapan]">
        <div class="card-body">
          <p *ngIf="lang === 'vi'" [innerHTML]="newQnuName" style="font-size: 24px; color: black; font-weight: 600"></p>
          <p *ngIf="lang === 'jp'" [innerHTML]="newQnuJapanName" style="font-size: 24px; color: black; font-weight: 600"></p>

          <p class="card-text"  *ngIf="lang === 'vi'" [innerHTML]="newQnuObject"><span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"  > </span></p>  
          <p class="card-text"  *ngIf="lang === 'jp'" [innerHTML]="newQnuJapanObject"> </p>
          <span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"></span>
        </div>
      </a>
    </div>
    <div class="col-md-4 card-wrap"> 
      <a class="card" [routerLink]="[linkDollJapan]">
        <img class="card-img-top" [src]="[imageDollJapan]">
        <div class="card-body">
            <p *ngIf="lang === 'vi'" [innerHTML]="newDollName" style="font-size: 24px; color: black; font-weight: 600"></p>
            <p *ngIf="lang === 'jp'" [innerHTML]="newDollJapanName" style="font-size: 24px; color: black; font-weight: 600"></p>

          <p class="card-text"  *ngIf="lang === 'vi'" [innerHTML]="newDollObject"><span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"  > </span></p>  
          <p class="card-text"  *ngIf="lang === 'jp'" [innerHTML]="newDollJapanObject"> </p>
          <span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"></span>
        </div>
      </a>
    </div>
    <div class="col-md-4 card-wrap">
      <a class="card" [routerLink]="[linkAmbassJapan]" >
        <img class="card-img-top" [src]="[imageAmbassJapan]" alt="Card img cap">
        <div class="card-body">
            <p *ngIf="lang === 'vi'" [innerHTML]="newAmbassName" style="font-size: 24px; color: black; font-weight: 600"></p>
            <p *ngIf="lang === 'jp'" [innerHTML]="newAmbassJapanName" style="font-size: 24px; color: black; font-weight: 600"></p>
            
          <p class="card-text"  *ngIf="lang === 'vi'" [innerHTML]="newAmbassObject"><span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"  > </span></p>  
          <p class="card-text"  *ngIf="lang === 'jp'" [innerHTML]="newAmbassJapanObject"> </p>
          <span class="read-more"  [innerHTML]="LANGUAGE.CONTINUE_READING"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="detail text-center">
    <a class="btn btn-outline" [routerLink]="['/tin-tuc-su-kien']" [queryParams]="{lang: lang == 'vi' ? 'vi' : 'jp'}">{{LANGUAGE.VIEW_ALL}}</a>
  </div>
</div>