<div class="custom-container">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
        </ngx-item>
        <button NgxCarouselPrev></button>
        <button NgxCarouselNext></button>
    </ngx-carousel>
    <div class="banner">
        <div class="banner-bottom"></div>
        <h1 class="banner-title"><b>{{LANGUAGE.NEWS_AND_EVENTS}}</b></h1>
    </div>
</div>
<!-- creat breadscrumb --> 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item " (click) = "back()">
      <a>{{LANGUAGE.NEWS_AND_EVENTS}}</a> 
    </li>
    <li class="breadcrumb-item active" *ngIf = " isVietnamese && EventsFirst != undefined"> {{EventsFirst.Name}}</li>
    <li class="breadcrumb-item active" *ngIf = " isVietnamese && newItemData != undefined"> {{newItemData.Name}}</li>
    <li class="breadcrumb-item active" *ngIf = " !isVietnamese && EventsFirst != undefined"> {{EventsFirst.Japanese_Name}}</li>
    <li class="breadcrumb-item active" *ngIf = " !isVietnamese && newItemData != undefined"> {{newItemData.Japanese_Name}}</li>
  </ol>
</nav>

<div id="article" class="container">
    <!-- article Events -->
    <div id="FirstNews" class="row">
        <a class="row mr-0 ml-0 post-highlight" (click) = "OnChangeActicrles(item)">
            <div class="col-lg-7" >
                <img [src]="[ImageEvent]" class="card-img-top" alt="news-main"/>
            </div>
            <div class="col-lg-5 card-body card-wrap">
                <h5 class="card-title" *ngIf=" isVietnamese" [innerHTML]="eventsFirst.Name">
                </h5>
                <h5 class="card-title" *ngIf=" !isVietnamese" [innerHTML]="eventsFirst.Japanese_Name">
                </h5>
                <p class="card-text">
                    <span *ngIf=" isVietnamese" [innerHTML]="eventsFirst.Object"></span>
                    <span *ngIf=" !isVietnamese" [innerHTML]="eventsFirst.Object_Japanese"></span>
                    <span class="read-more"> {{LANGUAGE.CONTINUE_READING}}</span>
                </p>
            </div> 
        </a>
    </div>
    <!-- display First article -->
    <div id="new-article" class="container"  *ngIf = " EventsFirst != undefined">
        <div class="course-content pt-4 mb-0">
            <h4 *ngIf=" isVietnamese">{{EventsFirst.Name}}</h4>  
            <h4 *ngIf=" !isVietnamese">{{EventsFirst.Japanese_Name}}</h4>      
            <p class="mb-4" *ngIf=" isVietnamese" [innerHTML]="CkeventsFirst"></p> 
            <p class="mb-4" *ngIf=" !isVietnamese" [innerHTML]="JapanCkeventsFirst"></p>                      
        </div>
    </div>
    <!-- display article for news body -->
    <div class="course-content" id="articleNews" *ngIf = "OnChangeNews && newItemData != undefined" >
        <p *ngIf=" isVietnamese" [innerHTML]="CkNewsData">
        </p>
        <p *ngIf=" !isVietnamese" [innerHTML]="JapanCkNewsData">
        </p>
    </div>
    <div id="Other-tiltle">
        <h2>{{LANGUAGE.OTHER_NEW}}</h2>
    </div>
    <!-- display card news -->
    <div class="card-container pb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4 card-wrap" *ngFor="let item of IsNewsData ; let itemIndex = index;">
                <a class="card" (click) = "OnChangeNews(item)">
                    <img class="card-img-top" [src]="[arrImage[itemIndex]]" alt="Card img cap">
                    <div class="card-body">
                        <h5 *ngIf=" isVietnamese" class="card-title">
                            {{item.Name}}
                        </h5>
                        <h5 *ngIf=" !isVietnamese" class="card-title">
                            {{item.Japanese_Name}}
                        </h5>
                        <p class="card-text">
                            <span *ngIf=" isVietnamese" [innerHTML]="item.Object"></span>
                            <span *ngIf=" !isVietnamese" [innerHTML]="item.Object_Japanese"></span>
                            <span class="read-more"> {{LANGUAGE.CONTINUE_READING}}</span>
                        </p>
                    </div>
                </a>
            </div>
        </div> 
    </div>
</div>  
<!-- create Pagination -->
 <!-- <div class="pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>  -->

