
.card-text {
    margin-bottom: 10px;
    color: black;
}
.card-title {
    color: #000;
    font-size: 24px;
    margin-bottom: .75rem; 
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.thumnail {
    background-image: url();
    border: 0.5px solid black;
}
.short-content {
    font-family: "Muli", sans-serif;
    color: black;
    padding-left: 2em;
}
.thumnail, .short-content {
    max-height: 400px;
    height: 300px;
    max-width: 600px;
}
.article-title {
    font-weight: bold;
}
.read-more {
    color: rgb(188, 0, 45);
}
/* strong {
    color: rgb(188, 0, 45);
} */
.thumnail > img {
    width: 10% !important;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.post-highlight{
    height: 325px;
    border: solid 1px #e5e5e5;
    overflow: hidden;
    margin-left: 15px;
    width: 100%;
}
#FirstNews{
    margin-left: 15px;
    margin-right: 0;
}

.breadcrumb-item a:hover {
   color:inherit;
}
.breadcumb-item.active{
    color:#6c757d !important;
}
.breadcumb-item.acive:hover{
    cursor:text;
}
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color:inherit;
    text-decoration: none;
}
.mb-4{
    margin-left: 60px
}
.col-lg-7{
    padding-left: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
}
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: rgb(188, 0, 45) !important;
    color: #fefefe;
    cursor: default;
}
#Other-tiltle{
    font-family: "Muli", sans-serif;
    color: black;
}
