
/* 
a, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color:#dc3545;
}
.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

li {
    list-style: none;
    display: block;
}

ol, li {
    margin: 0;
    padding: 0;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
    background: none !important;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb-item.active>a {
    color: #7c232f;
} 
.pt-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.active-link {
    color: red;
    font-weight: bold;
} */
.image img {
    width: 100% !important
}
.nav-tabs .nav-link:hover,.nav-tabs .nav-link:active {
    border: none !important;
}
.nav-link:hover{
    color: red !important;
}
.nav-link.active {
    color: #495057;
}
.nav-link.active:hover {
    color: #000000;
    font-weight: 700 !important;
}

/* css for modal*/
.modal-body .top-intro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.top-intro img{
    width: 140px;
}
.personInfo{
    padding: 10px;
}
.modal-body .top-intro h4 {
    font-size: 36px;
    font-weight: bold;
}
.modal-body .top-intro p {
    font-size: 24px;
}
.modal-body .description > p {
    line-height: 1.71;
    margin-bottom: 25px;
    font-size: 14px;
}
.modal-body {
    padding: 30px 50px;
}
.modal-body button.close > span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #808080;
    color: #fff;
    display: block;
    line-height: 1;
    text-align: center;
    font-size: 20px;
}
.btn-outline {
    border: 1px solid #e11f26;
    border-radius: 17px;
    color: #e11f26 !important;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
}
.modal-body .btn-outline {
    padding: 2px 26px;
}
.btn-outline:hover {
    color: white !important;
    background-color: #e11f26;
}
.person:hover {
    color: #e11f26;
}
.personnel-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.card-title {
    font-weight: 600;
}
.card-title {
    font-size: 24px;
}
.personnel-wrap {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px 30px;
    border: solid 1px #e5e5e5;
}