 
<div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
      <ngx-item NgxCarouselItem class="bannerStyle"  *ngFor="let item of sliderImagesURL | slice:0:3" [ngStyle]="{'background-image': 'url(' + item + ')'}">
      </ngx-item>
      <button NgxCarouselPrev></button>
      <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
      <div class="banner-bottom"></div>
      <h1 class="banner-title"><b>{{LANGUAGE.INTRODUCTION_PAGE}}</b></h1>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu" [queryParams]="{lang: lang === 'vi' ? 'vi' : 'jp'}">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu" [queryParams]="{lang: lang === 'vi' ? 'vi' : 'jp'}">{{LANGUAGE.INTRODUCTION_PAGE}}</a>
    </li>
    <li class="breadcrumb-item active" *ngIf="isVietnamese"  >
      <a routerLink = "/gioi-thieu"> {{introductionsDataActive.Name}}</a>
    </li>
    <li class="breadcrumb-item active" *ngIf="!isVietnamese"  >
      <a routerLink = "/gioi-thieu"> {{introductionsDataActive.Japanese_Name}}</a>
    </li>
  </ol>
</nav>

<div class="row" *ngIf="introductionsDataActive">
  <div class="col-md-4 col-lg-4 ">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item" *ngIf="isVietnamese" >
        <a class=" nav-link left-item" id="JCenter-tab"  [ngClass]="{'active': item.Name == introductionsDataActive.Name}" (click)="onChangeIntroduction(item)" *ngFor="let item of menuLeftData; let i = index">{{item.Name}}</a>
        
      </li>
      <li class="nav-item" *ngIf=" !isVietnamese">
        <a class="nav-link left-item" id="JCenter-tab"  [ngClass]="{'active': item.Name == introductionsDataActive.Name}" (click)="onChangeIntroduction(item)" *ngFor="let item of menuLeftData; let i = index">{{item.Japanese_Name}}</a>
      </li>
      
    </ul>
  </div>

  <div class="col-md-8" *ngIf="introductionsDataActive.Slug != '/gioi-thieu/nhan-su-trung-tam'">
    <div class="tab-content">
      <div class="tab-pane active">
        <h4 class="section-title" *ngIf=" isVietnamese">
        {{introductionsDataActive.Name}}
        </h4>
        <h4 class="section-title" *ngIf=" !isVietnamese">
        {{introductionsDataActive.Japanese_Name}}
        </h4>
        <div   *ngIf=" isVietnamese" class="course-content pt-3 a"  [innerHTML]="introductionsDataActive.contents.Content"></div>
        <div   *ngIf=" !isVietnamese" class="course-content pt-3 a"  [innerHTML]="introductionsDataActive.contents.Japanese_Content"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="introductionsDataActive.Slug == '/gioi-thieu/nhan-su-trung-tam'">

    <div class="tab-content" *ngIf="isVietnamese">
      <div class="tab-pane active">
        <h4 class="section-title">
        {{introductionsDataActive.Name}}
        </h4>
      </div>
    </div>
   <div class="tab-content" *ngIf="!isVietnamese">
      <div class="tab-pane active">
        <h4 class="section-title">
        {{introductionsDataActive.Japanese_Name}}
        </h4>
      </div>
    </div>
    
    <div class="tab-content text-center">
        <div class="personnel-wrap">
          <div class="card-title" style="text-align: left;">{{LANGUAGE. EXECUTIVE_BOARD}}</div>
          <div class=" d-inline-block" *ngFor="let person of personnelData; let personIndex = index;">
             <div class="col-md-12 text-center person" (click)="onChangePerson(person, content)" *ngIf="personIndex == 0">
                <img class="img-fluid" src="{{serverURL}}{{person.Image.url}}" alt="Personnel image">
                <div class="personnel-name"  *ngIf="isVietnamese">{{person.Name}}</div>
                 <div class="personnel-name"  *ngIf="!isVietnamese">{{person.Japanese_Name}}</div>
                <p class="position" *ngIf="isVietnamese">{{person.Position}}</p>
                <p class="position" *ngIf="!isVietnamese">{{person.Japanese_Position}}</p>
            </div>
          </div>

          <div class="card-title" style="text-align: left;">{{LANGUAGE.TEACHING_STAFF}}</div>
          <div class="d-inline-block" *ngFor="let person of personnelData; let personIndex = index;">
              <div class="col-md-12 text-center person" *ngIf="personIndex != 0" (click)="onChangePerson(person, content)">
                  <img class="img-fluid" src="{{serverURL}}{{person.Image.url}}" alt="Personnel image">
                  <div class="personnel-name"  *ngIf="isVietnamese">{{person.Name}}</div>
                   <div class="personnel-name"  *ngIf="!isVietnamese">{{person.Japanese_Name}}</div>
                  <p class="position"  *ngIf="isVietnamese">{{person.Position}}</p>
                  <p class="position"  *ngIf="!isVietnamese">{{person.Japanese_Position}}</p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="top-intro">
        <div class="profile">
            <img src="{{personDetail.imageUrl}}" alt="profile image">
        </div>
        <div class="personInfo">
            <h4 *ngIf="!isVietnamese">{{personDetail.Japanese_Name}}</h4>
            <h4 *ngIf="isVietnamese">{{personDetail.Name}}</h4>
            <p *ngIf="personDetail.Position == 'Giám đốc'&& isVietnamese">{{personDetail.Position}}</p>
            <p *ngIf="personDetail.Position == 'Giám đốc' && !isVietnamese">{{personDetail.Japanese_Position}}</p>
        </div>
    </div>
    <div class="description">
        <p *ngIf="isVietnamese" [innerHTML]="personDetail.Information">
          <p *ngIf="!isVietnamese" [innerHTML]="personDetail.Japanese_Information">
        </p>
    </div>
    <div class="text-center">
          <a (click)="d('Cross click')" class="btn btn-outline" data-dismiss="-al" aria-label="Close">Đóng</a>
    </div>
</div>
</ng-template>

<button id="btnModal" class="btn btn-lg btn-outline-primary" (click)="open(content)" hidden="true">Launch demo modal</button>