<div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
    <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
    </ngx-item>
    <button NgxCarouselPrev></button>
    <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
    <div class="banner-bottom"></div>
    <h1 class="banner-title"><b>{{LANGUAGE.STUDENT}}</b></h1>
  </div>
</div>

<!-- creat breadscrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item">
      <span>{{LANGUAGE.STUDENT}}</span>
    </li>
  </ol>
</nav>

<!-- <div class="row">
  <div class="col-md-4 col-lg-4 ">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/hoc-vien/huong-nghiep" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.VOCATIONAL_GUIDANCE}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/hoc-vien/doi-song" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.STUDENT_LIFE}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/hoc-vien/cuu-hoc-vien" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.ALUMNI}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-8 col-lg-9" *ngIf="lang === 'vi'">
  <div class="tab-content">
    <div class="tab-pane active" id="study" role="tabpanel" aria-labelledby="study-tab">
      <h4 class="section-title" [innerHTML]="laborName"></h4>
      <div class="course-content pt-4">
        <p [innerHTML]="laborContent"></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 col-lg-9" *ngIf="lang === 'jp'">
    <div class="tab-content">
      <div class="tab-pane active" id="study" role="tabpanel" aria-labelledby="study-tab">
        <h4 class="section-title" [innerHTML]="laborJapanName"></h4>
        <div class="course-content pt-4">
          <p [innerHTML]="laborJapanContent"></p>
        </div>
      </div>
    </div>
  </div> -->

 
  <div class="row">
    <div class="col-md-4 col-lg-4 ">
      <ul class="nav nav-tabs d-none d-md-block" *ngIf = "isVietnamese">
        <li class="nav-item" *ngFor = "let item of itemData">
          <a class="nav-link" id="JCenter-tab" (click)="selectItem(item)">{{item.Name}}</a>
        </li>
      </ul>
      <ul class="nav nav-tabs d-none d-md-block" *ngIf = "!isVietnamese">
        <li class="nav-item" *ngFor = "let item of itemData">
          <a class="nav-link" id="JCenter-tab" (click)="selectItem(item)">{{item.Japanese_Name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="tab-content">
          <div class="tab-pane active">
              <h4 class="section-title" *ngIf="!isVietnamese" [innerHTML]="itemContents.japaneseName"></h4>
              <h4 class="section-title" *ngIf="isVietnamese" [innerHTML]="itemContents.vietnameseName"></h4>
              <div class="course-content pt-3" *ngIf="!isVietnamese" [innerHTML]="itemContents.japaneseContents"></div>
              <div class="course-content pt-3" *ngIf="isVietnamese" [innerHTML]="itemContents.vietnameseContents"></div>
          </div>
      </div>
  </div>
  </div>