img{
    width:100% !important;
    float: none;
    display: block;
    margin: 0 auto;
}
.nav-tabs .nav-link:hover,.nav-tabs .nav-link:active {
    border: none !important;
}
.nav-link:hover{
    color: red !important;
}
.nav-link.active {
    color: #495057 !important;
}
.nav-link.active:hover {
    color: #000000 !important;
    font-weight: 700 !important;
}