<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">{{LANGUAGE.MESSAGE_INVALID_INFO}}</h3>
        <form [formGroup]="frmUser" id="register_form" action=""  method="post" (ngSubmit)="onSubmitForm()">
          <p class="validate_msg"></p>
          <div class="form-group has-error" >
            <label for="">{{LANGUAGE.FULL_NAME}}:</label>
            <input class="form-control input-lg" id="name" placeholder="LANGUAGE.FULL_NAME" name="name" type="text" pattern="[a-z]{1,15}"><span class="val_fname"></span>
            <div id="result"></div>
          </div>
          <div class="form-group has-success">
            <label for="">{{LANGUAGE.EMAIL}}:</label>
            <input class="form-control input-lg" placeholder="LANGUAGE.EMAIL" id="email" name="email" value="" type="text"><span class="val_email"></span> 
          </div>
          <div class="form-group has-success">
            <label for="">{{LANGUAGE.PHONE_NUMBER}}:</label>
            <input class="form-control input-lg" placeholder="LANGUAGE.PHONE_NUMBER" id="phone" name="phone" value="" type="text"><span class="val_phone"></span>
          </div>
          <div class="form-group">
            <label for="inputEmail3">{{LANGUAGE.COURSE}}:</label>
            <select class="form-control " id="course">
              <option selecterd=""></option>
              <option selecterd="">N5.1</option>
              <option selecterd="">N5.2</option>
              <option selecterd="">N4.1</option>
              <option selecterd="">N4.2</option>
              <option selecterd="">N3.1</option>  
              <option selecterd="">N3.2</option>
            </select>
            <span class="val_course"></span>
          </div>
          <div  class="form-group">
            <label>{{LANGUAGE.NOTES}}:</label>
           <textarea class="form-control" id="notes" rows="3"  placeholder="{{LANGUAGE.NOTES}}"></textarea>
          </div>
          <button [disabled]="frmUser.invalid" class="btn btn-lg btn-block"  type="submit" name="submit" id="register">{{LANGUAGE.SIGN_UP}}</button> 
        </form>
      </div>
    </div>
  </div>
</div>
