<div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)" (afterCarouselViewed)="afterCarouselViewedFn($event)">
    <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
    </ngx-item>
    <button NgxCarouselPrev></button>
    <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
    <div class="banner-bottom"></div>
    <h1 class="banner-title"><b>Chương trình đào tạo</b></h1>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu"  [queryParams]="{lang: lang ? 'vi' : 'jp'}">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/khoa-hoc"  [queryParams]="{lang: lang ? 'vi' : 'jp'}">Khóa học</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" *ngFor = "let item of skillsData">{{item.name}}</li>
  </ol>
</nav>
<hr>
<div class="row">
  <div class="col-md-4 col-lg-3 left-navigation">
      <ul class="nav nav-tabs d-none d-md-block"  *ngFor="let item of courseDataItem">
          <li class="nav-item">
              <a class="nav-link left-item" id="JCenter-tab" [routerLink] = "[item.slug]" [queryParams]="{lang: lang ? 'vi' : 'jp'}">
                  {{item.name}}
              </a>
          </li>
      </ul>
  </div>
  <div class="col-md-8 col-lg-9 " *ngFor = "let item of skillsData">
    <h5 class="section-title">{{item.name}}</h5>
    <h5>{{item.contents}}</h5>
  </div>
</div>