img{
    width:100% !important;
    float: none;
    display: block;
    margin: 0 auto;
}
.nav-link:hover{
    color: red !important;
}
.nav-link.active {
    color: #495057 !important;
}
.nav-link.active:hover {
    color: #000000 !important;
    font-weight: 700 !important;
}
.breadcrumb-item a:hover {
    color: red !important;
    text-decoration: none;
}
.breadcrumb-item.active{
    cursor:text !important;
    color:#6c757d !important;
}
.breadcrumb-item.active a {
    color: #6c757d !important;;
}