<div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
    <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
    </ngx-item>
    <button NgxCarouselPrev></button>
    <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
    <div class="banner-bottom"></div>
    <h1 class="banner-title"><b>{{LANGUAGE.EDUCATION_PROGRAM}}</b></h1>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/trang-chu" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/khoa-hoc/cac-khoa-tieng-nhat-JLPT" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
        {{LANGUAGE.COURSE}}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{LANGUAGE.SKILL_COURSE}}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-4 col-lg-3 left-navigation" *ngIf = "lang === 'vi'">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-tieng-nhat-JLPT" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
          {{jlptDataItem}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink="/khoa-hoc/tieng-nhat-cho-thieu-nhi" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
          {{childDataItem}} 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-ky-nang-mem" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
           {{skillDataItem}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-lg-3 left-navigation" *ngIf = "lang === 'jp'">
      <ul class="nav nav-tabs d-none d-md-block">
        <li class="nav-item">
          <a class="nav-link" id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-tieng-nhat-JLPT" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
            {{japanjlptName}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="JCenter-tab" routerLink="/khoa-hoc/tieng-nhat-cho-thieu-nhi" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
            {{japanchildDataItem}} 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-ky-nang-mem" [queryParams]="{lang: lang === 'jp' ? 'jp' : 'vi'}">
             {{japanSkillDataItem}}
          </a>
        </li>
      </ul>
    </div>
  <div class="col-md-8 col-lg-9 " *ngIf = "lang === 'vi'">
    <h5 class="section-title" [innerHTML] = "skillDataItem"></h5>
    <h5  [innerHTML] = "childContent"></h5>
  </div>
  <div class="col-md-8 col-lg-9 "*ngIf = "lang === 'jp'">
    <h5 class="section-title" [innerHTML] = "japanchildDataItem"></h5>
    <h5  [innerHTML] = "japanchildContent"></h5>
  </div>
</div>