<div class="custom-container">
  <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
      <ngx-item NgxCarouselItem class="bannerStyle"  *ngFor="let item of sliderImagesURL | slice:0:3" [ngStyle]="{'background-image': 'url(' + item + ')'}">
      </ngx-item>
      <button NgxCarouselPrev></button>
      <button NgxCarouselNext></button>
  </ngx-carousel>
  <div class="banner">
      <div class="banner-bottom"></div>
      <h1 class="banner-title"><b>{{LANGUAGE.INTRODUCTION_PAGE}}</b></h1>
  </div>
</div>
<!-- create breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink = "/trang-chu" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.HOME_PAGE}}</a>
    </li>
    <li class="breadcrumb-item active">
      <a routerLink = "/gioi-thieu" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.INTRODUCTION_PAGE}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{LANGUAGE.QUY_NHON_BINH_DINH}}</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-4 col-lg-4 ">
    <ul class="nav nav-tabs d-none d-md-block">
      <li class="nav-item">
        <a class="nav-link " id="JCenter-tab" routerLink = "/gioi-thieu/trung-tam-nhat-ban" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.JAPAN_CENTER}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/gioi-thieu/truong-dai-hoc-quy-nhon" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.QUY_NHON_UNIVERSITY}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="JCenter-tab" routerLink = "/gioi-thieu/quy-nhon-binh-dinh" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.QUY_NHON_BINH_DINH}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/gioi-thieu/nhan-su-trung-tam" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE.HUMAN_RESOURCE}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="JCenter-tab" routerLink = "/gioi-thieu/tai-sao-chon-qnu-japan-center" [queryParams]="{lang: lang ? 'jp' : 'vi'}">{{LANGUAGE. RESON_TO_CHOOESE_QNU_JAPAN_CENTER}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active">
        <h4 class="section-title" *ngIf="introductionsData">
        {{introductionsData.Name}}
             </h4>
        <div class="course-content pt-3" *ngIf="introductionsData" [innerHTML]="introductionsData.Content">
          </div>
        </div>
    </div>
</div>
