    
          <table class="table">
            <thead>
              <tr>
                <th>Thứ 2</th>
                <th>Thứ 3</th>
                <th>Thứ 4</th>
                <th>Thứ 5</th>
                <th>Thứ 6</th>
                <th>Thứ 7</th>
                <th>Chủ Nhật</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Phòng :</td>
                <td>Phòng :</td>
                <td>Phòng :</td>
                <td>Phòng :</td>
                <td>Phòng :</td>
                <td>Phòng :</td>
                <td>Phòng :</td>
              </tr>
              <tr>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
                <td>Thời gian bắt đầu-kết thúc:</td>
              </tr>
              <tr>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                  <td>Tiêu đề môn học:</td>
                </tr>
            </tbody>
          </table>

