<div class="custom-container">
    <ngx-carousel
        [inputs]="carouselBanner"
        [moveToSlide]="1"
        (onMove)="onmoveFn($event)"
    >
        <ngx-item
            (click)="onClickInAdvertImage(homeImagesURL[i])"
            NgxCarouselItem
            *ngFor="let tile of homeImagesURL; let i = index;"
            [ngStyle]="{'background-image': 'url(' + serverURL + tile.Image.url + ')'}"
        >
        </ngx-item>
        <button NgxCarouselPrev></button>
        <button NgxCarouselNext></button>
    </ngx-carousel>
</div> 