<!-- <div class="custom-container">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
        </ngx-item>
        <button NgxCarouselPrev></button>
        <button NgxCarouselNext></button>
    </ngx-carousel>
    <div class="banner">
        <div class="banner-bottom"></div>
        <h1 class="banner-title"><b>Chương trình đào tạo</b></h1>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/trang-chu" [queryParams]="{lang: lang ? 'jp' : 'vi'}">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/khoa-hoc" [queryParams]="{lang: lang ? 'jp' : 'vi'}">Khóa học</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Tiếng Nhật JLPT</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-4 col-lg-3 left-navigation">
        <ul class="nav nav-tabs d-none d-md-block">
            <li class="nav-item">
                <a class="nav-link " id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-tieng-nhat-JLPT"
                    [queryParams]="{lang:'vi'}">
                    Tiếng Nhật JLPT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="JCenter-tab" routerLink="/khoa-hoc/cac-khoa-ky-nang-mem" [queryParams]="{lang: 'vi'}">
                    Các khóa kỹ năng mềm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="JCenter-tab" routerLink="/khoa-hoc/tieng-nhat-cho-thieu-nhi"
                    [queryParams]="{lang:'vi'}">
                    Tiếng Nhật cho Thiếu Nhi
                </a>
            </li>
        </ul>
    </div>
    <div id="left-item" class="col-md-8 col-lg-9">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of jlptData">
                <a class="card course-block card-wrap " id="left-item" (click)="onchangeCourse(item.id, $event)">
                    <h5 class="card-title">{{item.Name}}</h5>
                    <div class="course-description">
                        {{item.Skill}}
                        <span class="read-more">{{LANGUAGE.CONTINUE_READING }}</span>
                    </div>
                    <hr>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-9 " *ngIf="onchangeCourse">
        <div class="tab-pane active" id="JLPT" role="tabpanel" aria-labelledby="JLPT-tab">
            <h4>{{jlptItemData.Name}}</h4>
            <p class="content-sub">
                {{jlptItemData.Skill}}
            </p>
            <p class="content-sub">
                {{jlptItemData.TotalTime}}
            </p>
            <p class="content-sub">
                {{jlptItemData.Time}}
            </p>
            <p class="content-sub">
                {{jlptItemData.Fee}}
            </p>
            <br>
            <p class="content-sub">
                {{jlptItemData.Location}}
            </p>
        </div>
    </div>

</div> -->