.container {
    margin: -25px 0;
}
button a:hover{
	text-decoration: none;
}
.btn{
	float: right;
}
td a:hover{
	color: red;
}
thead {
    background-color: brown;
    color: white;
}
.nav-tabs .nav-link.active{
	font-weight: 700;
	color: #495057;
}
