<div class="custom-container">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
        </ngx-item>
        <button NgxCarouselPrev></button>
        <button NgxCarouselNext></button>
    </ngx-carousel>
    <div class="banner">
        <div class="banner-bottom"></div>
        <h1 class="banner-title"><b>{{LANGUAGE.ACADEMIC}}</b></h1>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/trang-chu">Trang chủ</a>
        </li>
        <li class="breadcrumb-item ">
            <a routerLink="/hoc-vu">Học vụ</a>
        </li>
        <li class="breadcrumb-item active">
            Điểm thi
        </li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-4 col-lg-3 left-navigation">
        <ul class="nav nav-tabs d-none d-md-block">
            <li class="nav-item">
                <a class="nav-link " id="JCenter-tab" [queryParams]="{lang: lang ? 'jp' : 'vi'}" routerLink="/hoc-vu/lich-hoc">Lịch
                    học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="JCenter-tab" [queryParams]="{lang: lang ? 'jp' : 'vi'}" routerLink="/hoc-vu/lich-thi">Lịch
                    thi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="JCenter-tab" [queryParams]="{lang: lang ? 'jp' : 'vi'}" routerLink="/hoc-vu/diem-thi">Điểm
                    thi</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="tab-content">
            <div class="container">
                <h1 id="schedule">
                    <b>Điểm thi</b>
                </h1>
                <div class="detail-schedule">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">TÊN LỚP HỌC</th>
                                <th scope="col">NGÀY THI</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tr *ngFor="let item of academics">
                            <td>{{ item.Class_Name }}</td>
                            <td>{{ item.Exam_Day }} </td>
                            <!--  <td>
                                <img src="./../assets/images/downloadred.png" width="15px" height="15px" alt=""> 
                            </td> -->
                            <td><a href="">Xem chi tiết</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn" type="submit" name="submit" id="register"><a href="{{link}}">Download</a></button>
            </div>
        </div>
    </div>
</div> 