
<div class="custom-container">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
      <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
      </ngx-item>
      <button NgxCarouselPrev></button>
      <button NgxCarouselNext></button>
    </ngx-carousel>
    <div class="banner">
      <div class="banner-bottom"></div>
      <h1 class="banner-title"><b>{{LANGUAGE.NEWS_AND_EVENTS}}</b></h1>
    </div>
  </div>
<!-- creat breadscrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/trang-chu">{{LANGUAGE. HOME_PAGE}}</a>
        </li>
        <li class="breadcrumb-item ">
            <a routerLink="/tin-tuc-su-kien">{{LANGUAGE.NEWS_AND_EVENTS}}</a>
        </li>
        <li class="breadcrumb-item active">
            {{LANGUAGE.PROFESSIONAL_INSTRUCTION}}
        </li>
    </ol>
</nav>
<h4 class="section-title">{{newspageData.Name}}</h4>
<div class="card course-content pt-4 mb-0">
    <div class="title-content d-flex align-items-center">
        <img src="./assets/images/icon-clock.png" class="m-0 mr-3" alt="icon">
        <p>{{LANGUAGE.TIME}}</p>
    </div>
    <p class="mb-4">{{newspageData.Time}}
    </p>
    <div class="title-content d-flex align-items-center">
        <img src="./assets/images/icon-map.png" class="m-0 mr-3" alt="icon">
        <p>{{LANGUAGE.LOCATION}}</p>
    </div>
    <p class="mb-4">
       {{newspageData.Location}}
    </p>
    <div class="title-content d-flex align-items-center">
        <img src="./assets/images/icon-user.png" class="m-0 mr-3" alt="icon">
        <p>{{LANGUAGE.OBJECT}}</p>
    </div>
    <p class="mb-4">
         {{newspageData.Object}}
    </p>
    <div class="title-content d-flex align-items-center">
        <img src="./assets/images/icon-script.png" class="m-0 mr-3" alt="icon">
        <p>{{LANGUAGE.PROGRAM}}</p>
    </div>
    <p class="mb-4" [innerHTML]="newspageData.Program">
    </p>
</div>
<div class="other-news">
    <h4 class="section-title">{{LANGUAGE.NEWS_AND_EVENTS_ANOTHER}}</h4>
    <div class="card-container">
    <app-newspage-other></app-newspage-other>
    </div>
</div>