
<!-- <div class="custom-container">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let item of homeImagesURL | slice:0:1" [ngStyle]="{'background-image': 'url(' + item + ')'}">
        </ngx-item>
        <button NgxCarouselPrev></button>
        <button NgxCarouselNext></button>
    </ngx-carousel>
    <div class="banner">
        <div class="banner-bottom"></div>
        <h1 class="banner-title">
            <b>Học vụ</b>
        </h1>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/trang-chu">Trang chủ</a>
        </li>
        <li class="breadcrumb-item ">
            <a routerLink="/hoc-vu">Học vụ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf = "onChangeAcademicsData"> {{AcademicsData.name}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-4 col-lg-3 left-navigation">
    <ul class="nav nav-tabs d-none d-md-block" *ngFor = "let item of academics | slice:0:3">
      <li class="nav-item">
        <a class="nav-link " id="JCenter-tab" (click)="onChangeAcademicsData(item.id, $event)">{{item.name}}</a>
      </li>     
    </ul>
  </div>
    <div class="col-md-8 col-lg-9" *ngIf = "onChangeAcademicsData">
        {{AcademicsData.Contents}}
     <button  class="btn btn" type="submit" name="submit" id="register"><a href="{{AcademicsData.Link}}">Download</a></button>
    </div>
</div> -->

 <router-outlet></router-outlet>