.col-md-6 :hover {
    color: gray !important;
}
div.course-description p {
	margin-left: 10px;
}
img{
    width:100% !important;
    float: none;
    display: block;
    margin: 0 auto;
}
.nav-tabs .nav-link:hover,.nav-tabs .nav-link {
    border: none !important;
    font-size: 18px;
    display: block;
}
.nav-tabs .nav-link.active{
	font-weight: 700;
	color: #495057;
}
.card-title {
    margin-top: 10px;
    margin-left: 20px;
}
.fa {
    margin-left: 20px;
}
/*.card{
    height: 330px;
}*/