.col-md-6 :hover {
    color: gray !important;
}
div.course-description p {
	margin-left: 10px;
}
img{
    width:100% !important;
    float: none;
    display: block;
    margin: 0 auto;
}
.nav-tabs .nav-link:hover,.nav-tabs .nav-link {
    border: none !important;
    font-size: 18px;
    display: block;
}
.card-title {
    margin-top: 10px;
    margin-left: 20px;
}
.fa {
    margin-left: 20px;
}
.card {
    height: 100% !important; 
}
.nav-link:hover{
    color: red !important;
}
.nav-link.active {
    color: #495057 !important;
}
.nav-link.active:hover {
    color: #000000 !important;
    font-weight: 700 !important;
}
.breadcrumb-item a:hover {
    color: red !important;
    text-decoration: none;
}
.breadcrumb-item.active{
    cursor:text !important;
    color:#6c757d !important;
}
.breadcrumb-item.active a {
    color: #6c757d !important;;
}
